<form method="GET" id="my_form"></form>

<table>
    <tr>
        <td>
            <input type="text" name="company" form="my_form" />
            <button type="button" form="my_form">ok</button>
        </td>
        <td>
            <input type="text" name="company" form="my_form" />
            <button type="button" form="my_form">ok</button>
        </td>
    </tr>
    <tr>
        <input type="text" name="company" form="my_form" />
        <button type="button" form="my_form">ok</button>
        <input type="text" name="company" form="my_form" />
        <button type="button" form="my_form">ok</button>
    </tr>
</table>